@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

html,
input {
    font-family:
        "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif,
        'Noto Sans KR',
        sans-serif;
}

label, select {
    font-size: large;
}

.unmute {
    border: none;
    margin: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    background-color: #f44336;
    color: black;
}

.mute {
    border: none;
    margin: 15px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
    background-color: #4CAF50;
    color: black;
}

.app {
    font-family: 'Noto Sans KR',
        sans-serif;
    height: 100px;
    /* margin-top: -100px; */
    position: absolute;

    text-align: center;
    /* top: 50%; */
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html,
body .green {
    background:#eff4ff;
}


ul {
    list-style: none;
    word-wrap: break-word;
}

/* Pages */

.pages {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

/* Login Page */

.login.page {
    background-color: #000;
}

.login.page .form {
    height: 100px;
    margin-top: -100px;
    position: absolute;

    text-align: center;
    top: 50%;
    width: 100%;
}

.login.page .form .usernameInput,
.login.page .form .modelURLInput {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 400px;
}


.login.page .title {
    font-size: 200%;
}

.login.page .usernameInput,
.login.page .modelURLInput {
    font-size: 200%;
    letter-spacing: 3px;
}

.login.page .title,
.login.page .usernameInput,
.login.page .modelURLInput {
    color: #fff;
    font-weight: 100;
}

/* App Page Style */
#welcome {
    font-size: 200%;
    letter-spacing: 3px;
}